body {
  font-family: Arial, sans-serif;
  background: #e9e9e9;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 自動スクロールのためにオーバーフローを隠す */
}

h1,h2 {
  text-align: center;
  margin-bottom: 40px;
}

.colorbar {
  display:flex;
  align-items:center;
  gap:1rem;
  margin: 1rem 60px;   /* 左右に60pxの余白 */
}
.colorbar .bar {
  flex:1;
  height:30px;
  background: linear-gradient(to right,
    hsl(120,100%,50%),
    hsl(60,100%,50%),
    hsl(0,100%,50%)
  );
  border-radius:4px;
}


a {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  overflow-y: auto; /* 縦スクロールを可能に */
  height: calc(100vh - 250px); /* スクロールエリアの高さを調整 */
  margin-bottom: 0;
  padding-bottom: 0;
}

.floor-section {
  margin-bottom: 60px;
  background-color: #ebebeb;
}

.floor-section h2 {
  font-size: 1.4em;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 5px solid #bee2fc;
  text-align: center;
}

/* 横並び */
.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

/* カードデザイン */
.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 15px;
  width: 220px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-program {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;

  word-wrap: break-word;       /* 長い単語や英数字を折り返す */
  overflow-wrap: break-word;   /* 新しい仕様の書き方（対応ブラウザ用） */
  white-space: normal;  
}

.card-location {
  font-size: 1.5em;
  font-weight: normal;
  color: #444;
  margin-bottom: 8px;
}

.card-level {
  font-size: 0.9em;
  color: #777;
}

.card-data {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 8px;
}

/* 色分け */
.card.low {
  border-left: 6px solid #4CAF50;
}

.card.medium {
  border-left: 6px solid #FFC107;
}

.card.high {
  border-left: 6px solid #F44336;
}

@media (max-width: 600px) {
  .content {
    width: 100%;       /* 横幅を画面いっぱいに */
    max-width: none;   /* PC向けのmax-width制限を解除 */
    padding: 0;
    margin: 0;
    min-height: 100vh; /* 高さを画面いっぱいに */
  }

  .card-row {
    padding: 0 10px;
    justify-content: center;
  }

  .card {
    width: calc(50% - 20px); /* or width: 48%; */
    box-sizing: border-box;
  }
}

@keyframes flashUpdate {
  0%   { background-color: transparent; opacity: 0.3; }
  50%  { background-color:  rgba(140, 197, 255, 0.585); opacity: 1; }
  100% { background-color: transparent; }
}

.card-updated {
  animation: flashUpdate 0.5s ease-out;
}